@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100&family=Lato:wght@700&family=Roboto:ital,wght@0,300;0,500;1,400;1,500&family=Rubik:wght@500&family=Ubuntu:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    line-height: 1.6;
    background-color: #9d9191;
}

.con {
    background-color: #9d9191;
    /* margin-bottom: 40px; */
    height: 177px;
    position: sticky;
    top: 0;
    z-index: 60px;
    overflow: hidden;
}

h1 {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin: 21px 0 14px 0;
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif; */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search_input {
    width: 60%;
    max-width: 400px;
    padding: 17px 8px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #333;
    /* position: absolute; */
    outline: 0;
}

#search_btn {
    background-color: rgb(5, 61, 5);
    color: #fff;
    padding: 17px 20px;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}

.search_results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: -13px auto;
}

.search_result {
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif; */
    /* color: #fff; */
}

.search_result img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.search_result:hover img {
    /* opacity: 0.8; */
}

.search_result a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show_btn {
    background-color: rgb(29, 50, 141);
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin: -33px auto 18px;
    text-align: center;
    /* display: block; */
    display: none;
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif; */
}

::placeholder {
    font-weight: bold;
}
footer{
    display: none;
}
@media screen and (min-width: 1330px) {
    

.flex-all-center{
    display: flex;
    overflow: hidden;
}
footer {
    height: 100px;
    background-color: brown;
    color: white;
    cursor: default;
}
.red{
    right: 413px;
  position: relative;
  top: 61px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
  width: 1000px;
  text-align: center;
  border-right: 10px solid black;
  border-top-right-radius: 31px;
  border-top: 4px solid black;
  border-left: 10px solid black;
  border-top-left-radius: 31px;
  font-family: 'Geologica', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.image{
    display: flex;
  justify-content: flex-start;
  height: 100px;
  width: 580px;
}
.j p{
       left: 58px;
    position: relative;
    top: -5px; 
}
.k{
    text-align: center;
  height: 50px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 10px solid black;
  border-bottom: 5px solid black;
  border-left: 10px solid black;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}
.k p{
    font-size: 22px;
}
.p{
position: relative;
right: 470px;
}
 
.p img{
    position: relative;
    top: 7px;
    height: 25px;
    right: 4px;
}
.p p{
    font-family: 'Geologica', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.v img{
    height: 38px;
    position: relative;
    top: 14px;
    right: -12px;
}
.v p{
    position: relative;
    right: 10px;
    bottom: 27px;
}
.s{
    position: absolute;
  left: 75%;
  font-size: 29px;
  width: 287px;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}
.l{
    display: flex;
    margin-top: 58px;
    margin-right: -245px;
    position: relative;
    right: 22.5%;
}
.l img{
    height: 39px;
    padding: 0 8px;
}}
@media screen and (max-width: 1240px) {
    #show_btn{
        margin: 66px auto 18px;
    }
    .con {
        height: 165px;
    }

    .search_result {
        margin: 16px auto;
    }

    .search_results {
        margin: -37px auto;
    }

    .search_result {
        width: 30%;
    }

    h1 {
        margin: 14px 0 6px 0;
    }
}

@media screen and (max-width: 868px) {
    .con {
        height: 160px;
    }

    .search_results {
        margin: -41px auto;
    }

    h1 {
        margin: 8px 0 7px 0;
    }
}

@media screen and (max-width: 768px) {
    .search_results {
        margin: -46px auto;
    }

    .search_result {
        margin: 16px auto;
    }

    .search_result {
        width: 45%;
    }

    h1 {
        margin: 8px 0 3px 0;
    }

    .con {
        height: 151px;
    }
}

@media screen and (max-width: 480px) {
    .con {
        height: 135px;
    }

    .search_results {
        margin: -58px auto;
    }

    h1 {
        margin: 12px 0 8px 0;
    }

    .search_result {
        width: 92%;
    }

    #search_input {
        padding: 10px 6px;
    }

    #search_btn {
        padding: 10px 6px;
    }
}

@media screen and (max-width: 270px) {
    .con {
        height: 120px;
    }

    h1 {
        font-size: 23px;
        font-weight: bold;
    }

    .search_results {
        margin: -60px auto;
    }
}